
.app
{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #dadbd3;
    background:fixed;
}
.app__body
{
    display: flex;
    background-color:#ece5dd;
    margin-top: -50px;
    height: 100%;
     width: 100%; 
     
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}
